body{
background-color: rgb(243, 243, 189);
text-align: center;
}
div{display: flex;
    justify-content: center;
    align-items: center;}
section{
    background-color: white;
    width: 200mm ;
    align-items:center;
    justify-content: center;
    
}
.boton{
    border:solid green;
    background-color:white;
    border-radius: 1mm;
    border: right 50px;
    text-align: left;
}
button{
    background-color: rgb(115, 115, 115);
    border-color: rgb(163, 161, 161);
    padding: 2mm;
    border-radius: 1mm;
    color: white;
    margin: 1mm;
    cursor: pointer;
}
button:hover{
    background-color: rgb(59, 78, 187);
    transition: 100ms;
}
nav{
    display: flex;
}
.r{text-align: justify;}
