body{
background-color: beige;
text-align: center;
}
div{display: flex;
    justify-content: center;
    align-items: center;}
section{
    background-color: white;
    width: 200mm ;
    align-items:center;
    justify-content: center;
    
}
.boton{
    border:solid green;
    background-color:white;
    border-radius: 1mm;
    border: right 50px;
    text-align: left;
    animation-name: anim;
    animation-duration: 1s;
    animation-iteration-count: initial;
}
@keyframes anim{

    from{
        background-color:  rgb(255,255,255);
    }
    to{
        background-color: rgb(110, 110, 110);
    }
}
nav{
    display: flex;
}
.r{text-align: justify;}
