body{
background-color: beige;
text-align: center;
}
.boton{
    border:solid black;
    background-color: gray;
    border-radius: 1mm;
    border: right 50px;
    text-align: left;
}
.a{display: flex;}
nav{
    display: flex;
}
.b{display: flex ;}